/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-green: #388e3c;
    --color-light-green: #6abf69;
    --color-teal: #00796b;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-dark-orange: #E68B21;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 900;
    --weight-semi-bold: 700;
    --weight-regular: 400;
    
    /* Size */
    --size-border-radius: 4px
  }
  
/* Universal tags */
* {
box-sizing: border-box;
/* padding을 줬을 때 높이와 너비가  
그 패딩을 포함했을 때도 동일한 높이와 너비가 되도록*/
}
  
body {
    margin: 0;
    /* body 에 쓸데없는 마진 제거 */
    font-family: 'Roboto', sans-serif;
    cursor: default;
    /* cursor가 텍스트에 올라가도 기본값 지정*/
}

a {
    text-decoration: none;
    color: var(--color-white)
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px 0 0;
    /* 위 오른쪽 밑 왼쪽*/
  }
  
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}
  
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}
  
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-green);
    /* 수직 중간 정렬하기 위해..현재 중심은 수평이니 */
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius );
}

.navbar__menu__item.active {
    border: 2px solid var(--color-white);

}

.navbar__menu__item:hover {
    background-color: var(--color-green);
}

/* Home */

#home {
    background: url('images/home-background2.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white)
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    border: 2px solid var(--color-black);
    margin-top: 15px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
    position: relative;
    transition: 0.5s;
  }