/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-green: #388e3c;
    --color-light-green: #6abf69;
    --color-dark-green: #186A3B;
    --color-teal: #00796b;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-dark-orange: #E68B21;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 900;
    --weight-semi-bold: 700;
    --weight-regular: 400;
    
    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 350ms
  }
  
/* Universal tags */
* {
box-sizing: border-box;
/* padding을 줬을 때 높이와 너비가  
그 패딩을 포함했을 때도 동일한 높이와 너비가 되도록*/
}
  
body {
    margin: 0;
    /* body 에 쓸데없는 마진 제거 */
    font-family: 'Roboto', sans-serif;
    cursor: default;
    /* cursor가 텍스트에 올라가도 기본값 지정*/
}

a {
    text-decoration: none;
    color: var(--color-white)
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px 0 0;
    /* 위 오른쪽 밑 왼쪽*/
  }
  
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}
  
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}
  
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* Navbar */
/* var(--color-light-green) */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: transparent;
    color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    
}

.navbar__menu__item.active:hover {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
    /* background-color: var(--color-green); */
    
}

.navbar__menu__item:hover {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
    /* background-color: var(--color-green); */
    
}

.navbar__toggle-btn {
    /* 문서의 원래 위치와 상관없이 위치를 지정할 수 있음 */
    position: absolute;
    top: 18px;
    right: 32px;
    font-size: 24px;
    /* 화면이 클 때는 보이지 않도록 */
    display: none;
    
}


#navbar.navbar--dark {
    background-color: var(--color-dark-green) ;
    z-index: 99;
}


.navbar__menu__item.active {
    border: 2px ;

}



/* Home */

#home {
    background: url('images/home-background2.png') center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white)
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    margin-top: 15px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
    border-radius: var(--size-border-radius);
    position: relative;
    transition: 0.5s;
    background-color: transparent;
}

.home__contact:hover {
    background-color: var(--color-green);
}

/* Section */

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1000px;
    margin: auto;
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-around;
    margin: 70px 0px;
    /* 위아래 양옆 */
}

.major__icon {
    width: 170px;
    height: 170px;
    /* 높이만큼 지정하면 자동으로 중간에 위치되어있음 */
    line-height: 170px;
    font-size: 70px;
    /* background-color: yellow; */
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}
.major__icon:hover i{
    color: var(--color-green);
    transform: rotate(-15deg) scale(1.3);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.education {
    display: flex;
    align-items: center;
}

.job_education {
    margin: 0 16px;
    text-align: left;
}

.education__logo {
    width: 80px;
    height: 80px;
}

.education__logo2 {
    width: 80px;
    height: 40px;
}

.education__name,
.education__period {
    color: var(--color-light-grey);
}

.education__name {
    font-size: var(--font-small);
}

.education__period {
    font-size: var(--font-micro);
}

/* Skills */

#skills {
    background-color: var(--color-yellow);
}

.skill{
    margin-bottom: 20px;
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin-top: 10px;
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset__right {
    flex-basis: 40%;
    background-color: var(--color-grey);
}

.skillset__title {
    color: var(--color-white);
}

.skill_description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    width: 70%;
    height: 3px;
    background-color: var(--color-orange);
}

.etc {
    background-color: var(--color-light-grey);
}

.tools {
    background-color: var(--color-grey);
}

.tools, .etc{
    padding: 20px;
}

/* Work */

.work__categories {
    margin: 30px;
}
.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    margin: 3px 0px;
    padding: 8px 48px; 
    width: 200px;
    text-transform: uppercase;
}

.category__btn.selected,
.category__btn:hover {
    background-color: var(--color-light-green);
    color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-teal);
    border-radius: 50%;
    color: var(--color-light-white);
    width: 20px;
    height: 20px;    
    display: inline-block;
    line-height: 20px;
    margin-left: 2px;

    position: relative;
    top: -20px;
    left: 4px;

    /* 평소에는 숫자가 보이지 않도록 만들어줌 */
    opacity: 0;
    transition: all var(--animation-duration) ease;
}

.work__projects {
    display: flex;
    /* 아이템이 꽉 차면 자동으로 줄바꿈할 수 있도록 */
    flex-wrap: wrap;
    /* 중간정렬 */
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 5px;
    background-color: var(--color-light-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100% ;
}

.project__description {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex 만 하면 한줄에 다 보이니까.. */
    flex-direction: column;
    /* 중간정렬 */
    justify-content: center;
    opacity: 0;
    transition: all var(--animation-duration) ease;
    transform: translateY(12px);
}
/* 프로젝트에 마우스가 올라왔을 때 디크립션을 보여주기 위해*/
.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-orange);
}

.project__description h3:after {
    content: '';
    width: 150px;
    height: 2px;
    background-color: var(--color-light-white);
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5px;
}

/* Testimonials */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 20px;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 12px;
} */

.testimonial__avatar:nth-child(ood){
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
    margin-right: 40px;
} */


.testimonial__comment {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);

} 

.testimonial__comment p {
    color: var(--color-grey);
}

.testimonial__comment a {
    color: var(--color-green);
} 

/* Contact */

#contact {
    background-color: #7E5109 ;
}

.contact__title,
.contact__email,
.contact__link ,
.contact__rights {
    color: var(--color-white);
}

.contact__title {
    margin: 30px 0;
}

.contact__email {
    font-size: var(--font-regular);
}

.contact__link {
    font-size: var(--font-medium);
    margin: 20px 0;
}

.contact__link i:hover {
    transform: scale(1.1);
    color: var(--color-green);
    transition: all var(--animation-duration) ease;
}


/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: var(--color-white);
    background-color: var(--color-dark-green);
    border-radius: 60%;
    /* display를 쓰면 완전히 없어지기 때문에 opacity로 대체 */
    opacity: 0;
    transition: opacity 300ms ease-in;
    /* 버튼이 안보일 때는 커서를 사용하지 못하도록 */
    pointer-events: none;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/*  media는 스크린 사이즈가 작을 때에만 적용되는 스타일링*/
@media screen and (max-width:768px) {
    :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
    }
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark-green);
        padding: 35px 0;
    }
    .navbar__menu__item {
        color: var(--color-light-white);
    }
    .navbar__menu__item:hover {
        background-color: var(--color-teal);
    }


    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }

    .section {
        padding: 20px;
    }

    .home__avatar {
        width: 250px;
        height: 250px;
    }


    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .major {
        margin: 10px;
    }
    .skillset {
        flex-direction: column;
    }
    .project {
        flex-grow: 1;
    }
    .testimonial__avatar {
        width: 80px;
        height: 80px;
    }
    .testimonial {
        flex-direction: column;
    }
}